@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

:root {
  --med-white: hsl(0, 0%, 98%);
  --med-gray: hsl(0, 0%, 41%);
  --med-black: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Epilogue', sans-serif;
  background-color: var(--med-white);
  min-height: 100vh;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}

/* Utility classes */
.container {
  max-width: 1000px;
  margin: auto;
}

.btn {
  display: inline-block;
  padding: 14px 20px;
  border-radius: 12px;
}

.btn-primary {
  border: 1px solid var(--med-gray);
}

.btn-secondary {
  background-color: var(--med-black);
  border: 1px solid var(--med-black);
  color: #fff;
}

.btn-secondary:hover {
  background-color: transparent;
  border: 1px solid var(--med-black);
  color: var(--med-black);
}

/* Header Start */
#header nav {
  padding: 0 3rem;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

#header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

#header nav ul a {
  margin: 0 30px;
  color: var(--med-gray);
}

#header nav ul .hero {
  font-size: 24px;
  color: var(--med-black);
  font-weight: 700;
  margin-right: 40px;
}

/* inner list 1 */
.inner-list-1 {
  display: none;
}

#header nav ul li:hover .inner-list-1 {
  display: block;
  position: absolute;
  top: 80px;
  left: 130px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
}

#header nav ul li:hover .inner-list-1 ul,
#header nav ul li:hover .inner-list-2 ul {
  display: block;
}

#header nav ul li:hover .inner-list-1 ul li,
#header nav ul li:hover .inner-list-2 ul li {
  margin: 10px 0;
}

#header nav ul li:hover .inner-list-1 ul li a,
#header nav ul li:hover .inner-list-2 ul li a {
  margin: 0;
}

#header nav ul li:hover .inner-list-1 img {
  margin-right: 10px;
}

/* inner list 2 */
.inner-list-2 {
  display: none;
}

#header nav ul li:hover .inner-list-2 {
  display: block;
  position: absolute;
  top: 80px;
  left: 330px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  border-radius: 8px;
}

#header nav ul .btn:hover {
  border: 1px solid var(--med-black);
  color: var(--med-black);
}

#header nav ul .main-list:hover>a {
  color: var(--med-black);
}

/* Section 1 Start */
#section-1 .row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 5rem;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 100px);
}

#section-1 .row .col h1 {
  font-size: 65px;
  color: var(--med-black);
}

#section-1 .row .col p {
  margin: 3rem 0;
  color: var(--med-gray);
  font-weight: 500;
  line-height: 1.5;
}

#section-1 .row img {
  width: 100%;
}

#section-1 .row .col .clients {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-1 .row .col .clients img {
  width: 90px;
  margin-right: 25px;
}

/* Section 1 End */